.instructionsContainer {
    font-family: 'Lora';
    margin-bottom: auto;
}

.homepageButtons {
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
    /* position: fixed; */
}

.howToPlayButton {
    background-color: #283618;
    color: #fefae0 ;
    border-radius:10px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    min-height:30px; 
    min-width: 120px;
    margin: 15px;
}

.playButton {
    background-color: #283618;
    color: #fefae0 ;
    border-radius:10px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    min-height:30px; 
    min-width: 120px;
    margin: 15px;
}





@media only screen 
and (max-width: 390px)  {
    .instructionsContainer {
        margin: 25px;
        margin-bottom: auto;
    }

    .howToPlayButton {
        font-family: 'Lora';
        border-radius:10px;
        box-shadow: 0px 0px 2px 2px rgb(0,0,0);
        min-height:30px; 
        min-width: 120px;
    }

    .playButton {
        font-family: 'Lora';
        border-radius:10px;
        box-shadow: 0px 0px 2px 2px rgb(0,0,0);
        min-height:30px; 
        min-width: 120px;
    }
      
}


