.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url("./assets/westwoods3.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.appContainer {
  background: rgba(254, 250, 224, .7);
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 20px;
  align-self: center;
  margin-top: 30px;
  border-radius: 12%;
  margin-bottom: 30px;
}

body {
  min-height: 100vh;
}

.titleContainer{
  font-size: 35px;
  font-weight: 500;
  text-shadow: 0px 0px 5px #606c38, 0px 0px 10px #606c38, 0px 0px 10px #606c38,
    0px 0px 20px #606c38;
  position: sticky;
}

h1 {
  font-family: 'Lora';
  text-decoration: underline;
}

h2 {
  font-family: 'Lora';
  text-decoration: underline;
}

h3 {
  font-family: 'Lora';
  text-decoration: underline;
}

.title {
  margin-top: 30px;
}

@media only screen 
and (max-width: 390px)  {
  .titleContainer {
    font-size: 35px;
    text-shadow: 0px 0px 5px #606c38, 0px 0px 10px #606c38, 0px 0px 10px #606c38,
    0px 0px 20px #606c38;
  }

  .appContainer {
    /* padding: 5px; */
    padding-left: 15px;
    padding-right:15px;
  }
}

@media only screen 
and (max-width: 320px)  {
  .titleContainer {
    font-size: 30px;
    text-shadow: 0px 0px 5px #606c38, 0px 0px 10px #606c38, 0px 0px 10px #606c38,
    0px 0px 20px #606c38;
  }
}