.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background-color: #FEFAE0; */
  background-image: url("assets/westwoods-3.jpg");
  background-size: cover;
  background-position: center;
}

.appContainer {
  /* background-color: #FEFAE0; */
}

body {
  min-height: 100vh;
}

.titleContainer{
  font-size: 35px;
  font-weight: 500;
  text-shadow: 0px 0px 5px #606c38, 0px 0px 10px #606c38, 0px 0px 10px #606c38,
    0px 0px 20px #606c38;
  position: sticky;
}

h1 {
  font-family: 'Lora';
  text-decoration: underline;
}

h2 {
  font-family: 'Lora';
  text-decoration: underline;
}

h3 {
  font-family: 'Lora';
  text-decoration: underline;
}

.title {
  margin-top: 30px;
}

@media only screen 
and (max-width: 390px)  {
  .titleContainer {
    font-size: 35px;
    text-shadow: 0px 0px 5px #606c38, 0px 0px 10px #606c38, 0px 0px 10px #606c38,
    0px 0px 20px #606c38;
  }
}

@media only screen 
and (max-width: 320px)  {
  .titleContainer {
    font-size: 30px;
    text-shadow: 0px 0px 5px #606c38, 0px 0px 10px #606c38, 0px 0px 10px #606c38,
    0px 0px 20px #606c38;
  }
}